<% provide(:title, 'Add Marks') %>
<h1>Add Marks</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@mark) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
       
       <%= f.label :physics %>
      <%= f.text_field :phy %>

      <%= f.label :chemistry %>
      <%= f.text_field :chem %>

      <%= f.label :Mathes %>
      <%= f.text_field :math %>
      
       </br>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
     <%= link_to "Show All Result", marks_path , class: "btn btn-large btn-primary" %>
  </div>

</div>
