<% provide(:title, 'All Student') %>
<h1>All STUDENT</h1>
<div class="table-responsive">
 <table class="table table-bordered table table-hover table table-striped tablewidth">
 <tr>
  <td> Name</td>
  <td> Email </td>
  <td> Physics</td>
  <td> Chemistry </td>
  <td> Mathes </td>
  <td> total Marks </td>

  
  <tr>
  <td><%=@mark.name%></td>
  <td><%=@mark.email%></td>
  <td><%=@mark.phy%></td>
  <td><%=@mark.chem%></td>
  <td><%=@mark.math%></td>
  <td><%=(@mark.math+@mark.phy+@mark.chem)%></td>
  </tr>
 
</tr>
</table>
</div>
<%= link_to "Show All Result >>", marks_path , class: "btn btn-large btn-default" %>